@import "reset";
@import 'partials/columns';

body {
    box-sizing: border-box;
    font-family: 'Text Me One', sans-serif;
    background-color: #fff;
    background-image: url('img/bg.png');
    background-attachment: fixed;
    background-size: 10%;
}

iframe {
    background-color: #fff;
}

a {
    color: #009EFF;
}

@media screen and (max-width: 39.9375em) {
    .main {
        flex-direction: column;
    }

    .col-1\/5 {
        width: 80%;
    }
}